<a href="https://colab.research.google.com/github/yuli206/mi-proyecto/blob/main/2_taller_apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/LinaMariaCastro/curso-ia-para-economia/blob/main/clases/4_Aprendizaje_no_supervisado/2_Solucion_Taller_Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Inteligencia Artificial con Aplicaciones en Econom√≠a I**

- üë©‚Äçüè´ **Profesora:** [Lina Mar√≠a Castro](https://www.linkedin.com/in/lina-maria-castro)  
- üìß **Email:** [lmcastroco@gmail.com](mailto:lmcastroco@gmail.com)  
- üéì **Universidad:** Universidad Externado de Colombia - Facultad de Econom√≠a

# **Taller: An√°lisis de Patrones de Consumo Internacional con Apriori**

**IMPORTANTE**: Guarda una copia de este notebook en tu Google Drive o computador.

**Taller en parejas**

**Nombres estudiantes:**

-
-

**Forma de entrega**

Jupyter Notebook publicado en su cuenta de Github con el nombre ‚ÄúTaller_Apriori_apellidos_estudiantes.ipynb‚Äù.

**Plazo de entrega**

Hoy, 16 de octubre, m√°ximo a las 11:59 p.m., debes enviar link del notebook al correo lina.castro6@uexternado.edu.co, de lo contrario, no ser√° tenido en cuenta.

**Instrucciones Generales**

Completa el c√≥digo en las celdas marcadas con `### TU C√ìDIGO AQU√ç ###`. Puedes a√±adir m√°s celdas si lo requieres.

**Caso de Estudio: Consultor√≠a para el PNUD**

**Contexto:** Una firma multinacional de e-commerce, "Global Retail Inc.", te ha contratado como consultor de datos. La empresa opera en m√∫ltiples pa√≠ses y ha notado que sus ventas y la efectividad de sus campa√±as de marketing var√≠an significativamente entre regiones. Su hip√≥tesis es que los patrones de compra y las asociaciones de productos son diferentes en cada mercado.

**Tu Misi√≥n:** Analizar el historial de transacciones de la empresa para descubrir y comparar las reglas de asociaci√≥n de productos para dos de sus mercados m√°s grandes: el Reino Unido y Alemania. Tu objetivo final es entregar recomendaciones de negocio accionables (ej. estrategias de cross-selling, promociones personalizadas) basadas en los patrones de consumo que descubras en cada pa√≠s.

**Dataset:** Online Retail Data Set del repositorio de UCI. Encuentra mayor informaci√≥n en: https://archive.ics.uci.edu/dataset/352/online+retail

## Ejercicio 1: Configuraci√≥n Inicial, Carga y Exploraci√≥n de Datos

1.1 Importa las librer√≠as necesarias

In [ ]:
### TU C√ìDIGO AQU√ç ###
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Configuraciones de visualizaci√≥n
pd.options.display.max_columns = None
pd.options.display.float_format = '{:,.2f}'.format

1.2 Carga el dataset "retail_top30_products.csv" que se encuentra en el repositorio del curso, carpeta "datasets".

In [ ]:
datasate=pd.read_csv('/content/retail_top30_products.csv')

In [ ]:
print("datasate")
print(datasate.shape)

datasate
(40530, 8)

In [ ]:
print("\nInformaci√≥n general del DataFrame:")
datasate.info()

Informaci√≥n general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40530 entries, 0 to 40529
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    40530 non-null  object
 1   StockCode    40530 non-null  object
 2   Description  40530 non-null  object
 3   Quantity     40530 non-null  int64
 4   InvoiceDate  40530 non-null  object
 5   UnitPrice    40530 non-null  float64
 6   CustomerID   33004 non-null  float64
 7   Country      40530 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.5+ MB

1.3 Revisa si hay valores nulos en alguna columna y cu√°ntos son

In [ ]:
if datasate.isnull().any().any():
    print("Hay valores nulos en el DataFrame.")
else:
    print("No hay valores nulos en el DataFrame.")
print("la cantidad de nulos es:")
datasate.isnull().sum()

Hay valores nulos en el DataFrame.
la cantidad de nulos es:

InvoiceNo         0
StockCode         0
Description       0
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     7526
Country           0
dtype: int64

1.4 Genera las estad√≠sticas descriptivas de las variables num√©ricas

In [ ]:
### TU C√ìDIGO AQU√ç ###
datasate.describe()

       Quantity  UnitPrice  CustomerID
count 40,530.00  40,530.00   33,004.00
mean      11.38       4.64   15,225.76
std       40.69      57.76    1,729.80
min   -1,930.00       0.00   12,347.00
25%        2.00       1.65   13,767.00
50%        5.00       2.95   15,080.00
75%       10.00       4.95   16,745.00
max    2,880.00   8,142.75   18,283.00

1.5 Observando las salidas del ejercicio anterior, ¬øqu√© problemas potenciales identificas en las columnas Description, CustomerID y Quantity? ¬øVes algo inusual en los precios (UnitPrice)?

# RTA
En cuanto a cutomer ID podemos decir que tenemos problemas en cuanto a los datos porque no est√°n completos al observarse valores nulos, hay 33004 clientes pero el dataset tiene 40530 filas.

Se puede decir que para la variable quantity hay datos at√≠picos ya que la media y los cuartiles son valores muy peque√±os a comparacion del maximo y muy grandes a comparacion del minimo, que ademas es un valor negativo.

En cuanto a UnitPrice resulta extra√±o tener un precio de cero que ademas es el precio minimo, tambien que exista un precio maximo de mas de ocho mil cuando el resto d eprecios parece ubicarse en rangos peque√±os

Podemos observar que en la columna no parece tener problemas potenciales dado que tiene datos completos y no repetidos, para verificarlo notese que:

In [ ]:
print('demos un visstazo a los datos')
datasate.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,"17,850.00",United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,"13,047.00",United Kingdom
2,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,"13,047.00",United Kingdom
3,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,"12,583.00",France
4,536370,POST,POSTAGE,3,2010-12-01 08:45:00,18.00,"12,583.00",France

In [ ]:
print('los productos son los siguiente y no est√°n repetidos')
datasate['Description'].unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER',
       'ASSORTED COLOUR BIRD ORNAMENT', 'JAM MAKING SET WITH JARS',
       'ALARM CLOCK BAKELIKE RED ', 'POSTAGE',
       "PAPER CHAIN KIT 50'S CHRISTMAS ",
       'WOODEN PICTURE FRAME WHITE FINISH', 'JUMBO BAG PINK POLKADOT',
       'LUNCH BAG RED RETROSPOT', 'PACK OF 72 RETROSPOT CAKE CASES',
       'JUMBO STORAGE BAG SUKI', 'JAM MAKING SET PRINTED',
       'JUMBO SHOPPER VINTAGE RED PAISLEY',
       'NATURAL SLATE HEART CHALKBOARD ', 'HEART OF WICKER SMALL',
       'JUMBO BAG RED RETROSPOT', 'LUNCH BAG SPACEBOY DESIGN ',
       'LUNCH BAG PINK POLKADOT', 'LUNCH BAG CARS BLUE',
       'LUNCH BAG  BLACK SKULL.', 'REGENCY CAKESTAND 3 TIER',
       'ROSES REGENCY TEACUP AND SAUCER ',
       'GREEN REGENCY TEACUP AND SAUCER',
       'RECIPE BOX PANTRY YELLOW DESIGN', 'PARTY BUNTING',
       'SET OF 3 CAKE TINS PANTRY DESIGN ',
       'SET OF 4 PANTRY JELLY MOULDS', 'LUNCH BAG SUKI DESIGN ',
       'LUNCH BAG APPLE DESIGN', 'SPOTTY BUNTING'], dtype=object)

## Ejercicio 2: Limpieza y Preprocesamiento de Datos

Los datos del mundo real rara vez son perfectos. Antes de cualquier an√°lisis, debemos "sanear" nuestro dataset. Completa el c√≥digo en cada paso seg√∫n las instrucciones.

2.1 **Manejo de Valores Nulos**: Las transacciones sin un CustomerID no son √∫tiles para nosotros, ya que no podemos agrupar las compras de un cliente espec√≠fico.

In [ ]:
# TAREA: Elimina todas las filas donde 'CustomerID' es nulo.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# El tipo de dato de CustomerID debe ser entero
### TU C√ìDIGO AQU√ç ###

2.2 **Limpieza de Descripciones de Productos** Las descripciones pueden tener espacios en blanco al inicio o al final que podr√≠an hacer que un mismo producto se cuente como dos diferentes.

In [ ]:
# TAREA: Limpia la columna 'Description' eliminando espacios extra al inicio y al final.
### TU C√ìDIGO AQU√ç ###

2.3 **Filtrado de Transacciones An√≥malas**: Las facturas (InvoiceNo) que empiezan con 'C' indican una cancelaci√≥n. Estas no son compras reales y deben ser eliminadas. Del mismo modo, las cantidades (Quantity) negativas representan devoluciones.

In [ ]:
# TAREA: Elimina las filas que correspondan a cancelaciones.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# TAREA: Elimina las filas con cantidades negativas.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# NO MODIFICAR ESTA CELDA
assert df_limpio['Quantity'].min() > 0, "Error: Todav√≠a hay cantidades negativas."
assert df_limpio['CustomerID'].isnull().sum() == 0, "Error: A√∫n hay valores nulos en CustomerID."
assert df_limpio[df_limpio['InvoiceNo'].str.contains('C')].empty, "Error: Todav√≠a hay facturas de cancelaci√≥n."
print("¬°La limpieza b√°sica ha sido exitosa!")

## Ejercicio 3: An√°lisis Comparativo por Pa√≠s

Ahora que los datos est√°n limpios, vamos a segmentarlos y a aplicar el algoritmo Apriori para encontrar los patrones de compra en el Reino Unido y Alemania.

**Preparaci√≥n de la Cesta de Mercado (Funci√≥n)**

La siguiente funci√≥n toma un dataframe, lo agrupa por factura y descripci√≥n, y lo transforma en el formato de matriz binaria que necesita el algoritmo Apriori. Estudia esta funci√≥n, no necesitas modificarla.

In [ ]:
# NO MODIFICAR ESTA CELDA
def preparar_cesta(dataframe, pais):
    """Filtra por pa√≠s y prepara la matriz de transacciones."""

    # Filtrar por el pa√≠s de inter√©s
    df_pais = dataframe[dataframe['Country'] == pais]

    # Crear la cesta: agrupar productos por factura
    cesta = (df_pais.groupby(['InvoiceNo', 'Description'])['Quantity']
             .sum().unstack().reset_index().fillna(0)
             .set_index('InvoiceNo'))

    # Convertir todas las cantidades positivas a 1 y todo lo dem√°s a 0
    def encode_units(x):
        if x <= 0:
            return 0
        if x >= 1:
            return 1

    cesta_encoded = cesta.applymap(encode_units)
    return cesta_encoded

3.1 An√°lisis para el Reino Unido (United Kingdom)

In [ ]:
# TAREA: Usa la funci√≥n preparar_cesta para obtener la matriz de transacciones del Reino Unido.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# TAREA: Aplica el algoritmo apriori para encontrar itemsets con un soporte m√≠nimo de 2%.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# TAREA: Genera las reglas de asociaci√≥n. Queremos reglas con un Lift mayor a 3.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# Ordena las reglas por Lift y Confianza de mayor a menor
### TU C√ìDIGO AQU√ç ###

3.3 Observa las 3 reglas con el Lift m√°s alto para el Reino Unido (1, 3 y 5). **Interpr√©talas:** ¬øQu√© te dicen estas asociaciones? ¬øQu√© tipo de productos son?

3.4 Interpreta el Soporte para el antecedente y el consecuente, la Confianza y el Lift

3.5 **Recomendaci√≥n de Negocio:** Basado en estas reglas, ¬øqu√© promoci√≥n o estrategia de venta espec√≠fica podr√≠as sugerir para el mercado del Reino Unido?

3.6 An√°lisis para Alemania (Germany)

In [ ]:
# TAREA: Usa la funci√≥n preparar_cesta para obtener la matriz de transacciones de Alemania.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# TAREA: Aplica el algoritmo apriori con un soporte m√≠nimo del 2%.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# TAREA: Genera las reglas de asociaci√≥n con un Lift mayor a 3.
### TU C√ìDIGO AQU√ç ###

In [ ]:
# Ordena las reglas por Lift y Confianza de mayor a menor
### TU C√ìDIGO AQU√ç ###

3.7 Observa las 3 reglas con el Lift m√°s alto para Alemania (1, 3 y 5). **Interpr√©talas:** ¬øQu√© patrones de consumo espec√≠ficos del mercado alem√°n revelan estas reglas? ¬øSon diferentes a los del Reino Unido?

3.8 Interpreta el Soporte para el antecedente y el consecuente, la Confianza y el Lift

3.9 **Recomendaci√≥n de Negocio:** ¬øQu√© campa√±a de marketing (diferente a la del Reino Unido) podr√≠as dise√±ar para los clientes alemanes?