<a href="https://colab.research.google.com/github/yuli206/mi-proyecto/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller Objetos Python
#### Materia: Inteligencia Artificial
#### Tutora: Lina Maria Castro
#### Estudiante: Yuli Esquivel Martinez

In [41]:
# Pregunta 1
print("1. ¿Cuál NO es tipo básico en Python?")
print("a) Números b) Cadenas c) Conjuntos d) Funciones matemáticas")
print("RESPUESTA: d) Funciones matemáticas")

1. ¿Cuál NO es tipo básico en Python?
a) Números b) Cadenas c) Conjuntos d) Funciones matemáticas
RESPUESTA: d) Funciones matemáticas

In [4]:
# Pregunta 2
print("2. True y False pertenecen al tipo:")
print("a) Entero b) Booleano c) Cadena d) Conjunto")
print("RESPUESTA: b) Booleano")

2. True y False pertenecen al tipo:
a) Entero b) Booleano c) Cadena d) Conjunto
RESPUESTA: b) Booleano
 CORRECTA

In [ ]:
# Pregunta 3
print("3. ¿Cuál es tipo numérico?")
print("a) int, float, complex b) str, int, tuple c) list, set, dict d) bool, tuple, set")
print("RESPUESTA: a) int, float, complex")

In [34]:
# Pregunta 4
print("4. x = (1, 2, 3); print(x[1])")
x = (1, 2, 3)
print("Resultado:", x[1])
print("RESPUESTA: b) 2")

4. x = (1, 2, 3); print(x[1])
Resultado: 2
RESPUESTA: b) 2
 CORRECTA

In [5]:
# Pregunta 5
print("5. Error en: t = (1,2,3); t[0] = 10")
try:
    t = (1, 2, 3)
    t[0] = 10
    print("No hubo error")
except Exception as e:
    print("Error:", type(e).__name__)
print("RESPUESTA: c) Las tuplas son inmutables")

5. Error en: t = (1,2,3); t[0] = 10
Error: TypeError
RESPUESTA: c) Las tuplas son inmutables
 CORRECTO

In [33]:
# Pregunta 6
print("6. s = {1,2,2,3,3}; print(s)")
s = {1, 2, 2, 3, 3}
print("Resultado:", s)
print("RESPUESTA: b) {1, 2, 3}")
print(" CORRECTO\n")

6. s = {1,2,2,3,3}; print(s)
Resultado: {1, 2, 3}
RESPUESTA: b) {1, 2, 3}
 CORRECTO

In [32]:
# Pregunta 7
print("7. palabra = 'Mundo'; print(palabra[1:4])")
palabra = "Mundo"
print("Resultado:", palabra[1:4])
print("RESPUESTA: c) 'und'")

7. palabra = 'Mundo'; print(palabra[1:4])
Resultado: und
RESPUESTA: c) 'und'

In [31]:
# Pregunta 8
print("8. lista = [10,20,30]; lista.append(40); print(lista)")
lista = [10, 20, 30]
lista.append(40)
print("Resultado:", lista)
print("RESPUESTA: b) [10,20,30,40]")

8. lista = [10,20,30]; lista.append(40); print(lista)
Resultado: [10, 20, 30, 40]
RESPUESTA: b) [10,20,30,40]

In [30]:
# Pregunta 9
print("9. dic = {'a':1,'b':2}; print(dic['c'])")
try:
    dic = {"a": 1, "b": 2}
    print(dic["c"])
except Exception as e:
    print("Error:", type(e).__name__)
print("RESPUESTA: c) Error")

9. dic = {'a':1,'b':2}; print(dic['c'])
Error: KeyError
RESPUESTA: c) Error

In [28]:
# Pregunta 10 - CON CÓDIGO EJECUTADO
print("10. Obtener valor 3 de d = {'x':1,'y':2,'z':3}")
d = {"x": 1, "y": 2, "z": 3}
print("Resultado de d['z']:", d["z"])
print("RESPUESTA: a) d['z']")

10. Obtener valor 3 de d = {'x':1,'y':2,'z':3}
Resultado de d['z']: 3
RESPUESTA: a) d['z']

In [27]:
# Pregunta 11
print("11. print(type(3.0))")
print("Resultado:", type(3.0))
print("RESPUESTA: b) float")

11. print(type(3.0))
Resultado: <class 'float'>
RESPUESTA: b) float

In [26]:
# Pregunta 12
print("12. x = [1,2,3]; y = x; y.append(4); print(x)")
x = [1, 2, 3]
y = x
y.append(4)
print("Resultado:", x)
print("RESPUESTA: b) [1,2,3,4]")

12. x = [1,2,3]; y = x; y.append(4); print(x)
Resultado: [1, 2, 3, 4]
RESPUESTA: b) [1,2,3,4]

In [25]:
# Pregunta 13
print("13. numeros = ['10','20','30']; resultado = ','.join(numeros)")
numeros = ["10", "20", "30"]
resultado = ",".join(numeros)
print("Resultado:", resultado)
print("RESPUESTA: b) '10,20,30'")

13. numeros = ['10','20','30']; resultado = ','.join(numeros)
Resultado: 10,20,30
RESPUESTA: b) '10,20,30'

In [24]:
# Pregunta 14
print("14. Convertir conjunto a lista: s = {1,2,3}")
s = {1, 2, 3}
print("list(s) =", list(s))
print("RESPUESTA: a) list(s)")

14. Convertir conjunto a lista: s = {1,2,3}
list(s) = [1, 2, 3]
RESPUESTA: a) list(s)

In [23]:
# Pregunta 15
print("15. cadena = 'Hola'; print(cadena * 3)")
cadena = "Hola"
print("Resultado:", cadena * 3)
print("RESPUESTA: b) 'HolaHolaHola'")

15. cadena = 'Hola'; print(cadena * 3)
Resultado: HolaHolaHola
RESPUESTA: b) 'HolaHolaHola'

In [22]:
# Pregunta 16
print("16. lista = [10,20,30]; print(lista[-1])")
lista = [10, 20, 30]
print("Resultado:", lista[-1])
print("RESPUESTA: c) 30")

16. lista = [10,20,30]; print(lista[-1])
Resultado: 30
RESPUESTA: c) 30

In [21]:
# Pregunta 17
print("17. precios = [1200,500,3400,800]; precios.sort()")
precios = [1200, 500, 3400, 800]
precios.sort()
print("Resultado:", precios)
print("RESPUESTA: a) [500,800,1200,3400]")

17. precios = [1200,500,3400,800]; precios.sort()
Resultado: [500, 800, 1200, 3400]
RESPUESTA: a) [500,800,1200,3400]

In [20]:
# Pregunta 18
print("18. conjunto = {1,2,3}; print(conjunto[0])")
try:
    conjunto = {1, 2, 3}
    print(conjunto[0])
except Exception as e:
    print("Error:", type(e).__name__)
print("RESPUESTA: a) Los conjuntos no son indexables")

18. conjunto = {1,2,3}; print(conjunto[0])
Error: TypeError
RESPUESTA: a) Los conjuntos no son indexables

In [19]:
# Pregunta 19
print("19. len({'a':1,'b':2,'c':3})")
print("Resultado:", len({"a": 1, "b": 2, "c": 3}))
print("RESPUESTA: b) 3")

19. len({'a':1,'b':2,'c':3})
Resultado: 3
RESPUESTA: b) 3

In [18]:
# Pregunta 20
print("20. lista = [1,2,3]; print(lista * 2)")
lista = [1, 2, 3]
print("Resultado:", lista * 2)
print("RESPUESTA: a) [1,2,3,1,2,3]")

20. lista = [1,2,3]; print(lista * 2)
Resultado: [1, 2, 3, 1, 2, 3]
RESPUESTA: a) [1,2,3,1,2,3]

In [17]:
# Pregunta 21
print("21. d = {'a':1}; d['a'] = 100; print(d)")
d = {"a": 1}
d["a"] = 100
print("Resultado:", d)
print("RESPUESTA: b) {'a':100}")

21. d = {'a':1}; d['a'] = 100; print(d)
Resultado: {'a': 100}
RESPUESTA: b) {'a':100}

In [16]:
# Pregunta 22
print("22. print('python'.upper())")
print("Resultado:", "python".upper())
print("RESPUESTA: a) PYTHON")

22. print('python'.upper())
Resultado: PYTHON
RESPUESTA: a) PYTHON

In [15]:
# Pregunta 23
print("23. s = {1,2,3}; s.add(5)")
s = {1, 2, 3}
s.add(5)
print("Resultado:", s)
print("RESPUESTA: a) add")

23. s = {1,2,3}; s.add(5)
Resultado: {1, 2, 3, 5}
RESPUESTA: a) add

In [14]:
# Pregunta 24
print("24. d = {'x':10,'y':20}; print('x' in d)")
d = {"x": 10, "y": 20}
print("Resultado:", "x" in d)
print("RESPUESTA: b) True")

24. d = {'x':10,'y':20}; print('x' in d)
Resultado: True
RESPUESTA: b) True

In [13]:
# Pregunta 25
print("25. print([1,2,3] == [1,2,3])")
print("Resultado:", [1, 2, 3] == [1, 2, 3])
print("RESPUESTA: a) True")

25. print([1,2,3] == [1,2,3])
Resultado: True
RESPUESTA: a) True

In [12]:
# Pregunta 26
print("26. for i in range(5): print(i)")
print("Resultado:")
for i in range(5):
    print(i, end=" ")
print("\nRESPUESTA: c) 0 1 2 3 4")

26. for i in range(5): print(i)
Resultado:
0 1 2 3 4
RESPUESTA: c) 0 1 2 3 4

In [11]:
# Pregunta 27
print("27. s = {1,2,3}; s.remove(4)")
try:
    s = {1, 2, 3}
    s.remove(4)
    print("No hubo error")
except Exception as e:
    print("Error:", type(e).__name__)
print("RESPUESTA: c) Lanza un error")

27. s = {1,2,3}; s.remove(4)
Error: KeyError
RESPUESTA: c) Lanza un error

In [10]:
# Pregunta 28
print("28. texto = 'Colombia México Perú Chile'; países = texto.split()")
texto = "Colombia México Perú Chile"
países = texto.split()
print("Resultado:", países)
print("RESPUESTA: b) ['Colombia','México','Perú','Chile']")

28. texto = 'Colombia México Perú Chile'; países = texto.split()
Resultado: ['Colombia', 'México', 'Perú', 'Chile']
RESPUESTA: b) ['Colombia','México','Perú','Chile']

In [9]:
# Pregunta 29
print("29. ventas = '1000;2500;3200;4500'; valores = ventas.split(';')")
ventas = "1000;2500;3200;4500"
valores = ventas.split(";")
print("Resultado:", valores)
print("RESPUESTA: a) ['1000','2500','3200','4500']")

29. ventas = '1000;2500;3200;4500'; valores = ventas.split(';')
Resultado: ['1000', '2500', '3200', '4500']
RESPUESTA: a) ['1000','2500','3200','4500']

In [8]:
# Pregunta 30
print("30. palabras = ['Economía','Mercados','Exportaciones']; texto = '-'.join(palabras)")
palabras = ["Economía", "Mercados", "Exportaciones"]
texto = "-".join(palabras)
print("Resultado:", texto)
print("RESPUESTA: b) 'Economía-Mercados-Exportaciones'")

30. palabras = ['Economía','Mercados','Exportaciones']; texto = '-'.join(palabras)
Resultado: Economía-Mercados-Exportaciones
RESPUESTA: b) 'Economía-Mercados-Exportaciones'

In [7]:
# Pregunta 31
print("31. empresas = ['Amazon','Google','Microsoft','Apple']; empresas.sort()")
empresas = ["Amazon", "Google", "Microsoft", "Apple"]
empresas.sort()
print("Resultado:", empresas)
print("RESPUESTA: a) ['Amazon','Apple','Google','Microsoft']")

31. empresas = ['Amazon','Google','Microsoft','Apple']; empresas.sort()
Resultado: ['Amazon', 'Apple', 'Google', 'Microsoft']
RESPUESTA: a) ['Amazon','Apple','Google','Microsoft']

In [6]:
# Pregunta 32
print("32. numeros = list(range(2,10,2))")
numeros = list(range(2, 10, 2))
print("Resultado:", numeros)
print("RESPUESTA: a) [2,4,6,8]")

32. numeros = list(range(2,10,2))
Resultado: [2, 4, 6, 8]
RESPUESTA: a) [2,4,6,8]